{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ (operation.resource.applicationName ~ '.ui.' ~ operation.resource.pluralName)|trans }}</h1>

    {% set grid = resources %}
    {% set definition = grid.definition %}

    {% if definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
        {% for action in definition.getEnabledActions('bulk') %}
            {{ sylius_grid_render_bulk_action(grid, action, null) }}
        {% endfor %}
    {% endif %}

    <table>
        <thead>
        <tr>
            {% for field in definition.fields %}
                {% if field.enabled %}
                    <th class="sylius-table-column-{{ field.name }}">{{ field.label|trans }}</th>
                {% endif %}
                {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
                    <th class="sylius-table-column-actions">Actions</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for resource in resources.data %}
            <tr>
                {% for field in definition.enabledFields %}
                    <td>{{ sylius_grid_render_field(grid, field, resource) }}</td>
                    <td>
                        {% for action in definition.getEnabledActions('item') %}
                            {{ sylius_grid_render_action(grid, action, resource) }}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
